In [1]:
from pycaret.classification import *
import pandas as pd

In [3]:
df1 = pd.read_excel('train1.xlsx')
df1.head()

,CustomerID,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,...,RVOwner_50-100,RVOwner_100-200,RVOwner_200-300,RVOwner_300-400,RVOwner_400+,RVOwner_11-20,RVOwner_21-30,RVOwner_31-40,RVOwner_40+,RVOwner_Top 10
0,3000002,24.00,219,22,0.25,0,0.0,-157,-19.0,0.7,...,0,0,0,0,0,0,0,0,1,0
1,3000010,16.99,10,17,0.00,0,0.0,-4,0.0,0.3,...,0,0,0,0,0,0,0,0,1,0
2,3000014,38.00,8,38,0.00,0,0.0,-2,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
3,3000022,82.28,1312,75,1.24,0,0.0,157,8.1,52.0,...,0,0,0,0,0,0,0,0,1,0
4,3000026,17.14,0,17,0.00,0,0.0,0,-0.2,0.0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
# Train and Evaluate
exp1 = setup(df1, target='Churn', ignore_features='CustomerID')

In [6]:
best_model = compare_models(sort = 'Recall')

In [ ]:
# Test Model
predict_model(best_model, df1.tail(10))

In [ ]:
# SAve model
# save_model(best_model, model_name = 'best_model_1')

In [2]:
# Try the second dataset

df2 = pd.read_excel('train2.xlsx')
df2.head()

,CustomerID,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,...,RVOwner_50-100,RVOwner_100-200,RVOwner_200-300,RVOwner_300-400,RVOwner_400+,RVOwner_11-20,RVOwner_21-30,RVOwner_31-40,RVOwner_40+,RVOwner_Top 10
0,-1.725412,-0.783391,-0.579032,-1.045275,-0.288506,-0.413714,-0.124522,-0.568070,-0.452482,-0.587674,...,-0.280585,-0.41418,-0.160735,-0.015532,-0.030088,-0.340317,-0.30609,-0.275635,0.903858,-0.472461
1,-1.725343,-0.941570,-0.974488,-1.255720,-0.400881,-0.413714,-0.124522,0.029924,0.029852,-0.631939,...,-0.280585,-0.41418,-0.160735,-0.015532,-0.030088,-0.340317,-0.30609,-0.275635,0.903858,-0.472461
2,-1.725309,-0.467484,-0.978272,-0.371853,-0.400881,-0.413714,-0.124522,0.037741,0.029852,-0.665137,...,-0.280585,-0.41418,-0.160735,-0.015532,-0.030088,-0.340317,-0.30609,-0.275635,0.903858,-0.472461
3,-1.725240,0.531686,1.489066,1.185434,0.156497,-0.413714,-0.124522,0.659185,0.235479,5.089263,...,-0.280585,-0.41418,-0.160735,-0.015532,-0.030088,-0.340317,-0.30609,-0.275635,0.903858,-0.472461
4,-1.725206,-0.938185,-0.993409,-1.255720,-0.400881,-0.413714,-0.124522,0.045558,0.024775,-0.665137,...,-0.280585,-0.41418,-0.160735,-0.015532,-0.030088,-0.340317,-0.30609,-0.275635,0.903858,-0.472461

In [3]:
# Train and Evaluate
exp2 = setup(df2, target='Churn', ignore_features='CustomerID')

In [6]:
best_model = compare_models(sort = 'Recall')
best_model

[]